/* common rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug rules */

/* utility rules */

/*******************
 header rules *****/

 /******************
  main rules ******/

 /* hero_image */

 /* plan */

 /* partner */

 /* operation */

 /* business */

 /* faq */

 /******************
 footer rules *****/
