/* common rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* debug rules */
.debug > header {
    height: 60px;
    background-color: burlywood;
}

.debug .hero_image {
    height: 600px;
}

.debug .large_plan_container {
    height: 600px;
    background-color: aqua;
}

.debug .plan {
    background-color: brown;
}

.debug .plan_container {
    background-color: burlywood;
}

.debug .plan_column {
    height: 800px;
    background-color: coral;
}

.debug .large_plan_column {
    height: 200px;
    background-color: cornflowerblue;
}

.debug .paragraph {
    height: 430px;
    background-color: crimson;
}

.debug .partner {
    background-color: darkgoldenrod;
}

.debug .operation {
    background-color: darkblue;
}

.debug .operation_container {
    background-color: darkgreen;
}

.debug .operation_column {
    height: 500px;
    background-color: darkmagenta;
}

/* utility rules */
.large_container {
    width: 80%;
    margin: auto;
}

.container {
    width: 70%;
    margin: auto;
}

.m_column {
    margin: 0 5% 50px;
}

.m_column_2 {
    margin: 0 5% 50px 0;
}

.m_bottom {
    margin-bottom: 50px;
}
/*******************
header rules ******/

/******************
main rules *******/

/* hero_image */
.hero_image	{
    background-color: #B4D0E7;
}

 /* plan */
.plan_column, .large_plan_column {
    float: left;
}

.plan_column {
    width: 30%;
}

.large_plan_column {
    width: 100%;
}

/* partner */
 .partner img, .partner .paragraph {
    float: left;
    width: 48%;
}

.partner img {
    margin-right: 4%;
}

/* operation */
.operation_column {
    float: left;
    width: 30%;
}

.operation_column > img {
    width: 100%;
}

/* business */
.companies .company {
    float: left;
}

/* faq */

/******************
footer rules *****/
